.navBarTitle {
  color: #fff;
}

.navBarBg {
  background-color: #ee1515;
  color: #222224;
}

.searchBox {
  background-color: #fff;
  transition: all ease-in-out 0.3s;
}

.searchBox:hover {
  background-color: #f0f0f0;
}
